body{
    direction: rtl;
    
    
}
footer{
    background-color: darkslategray;
    text-align: center;
    color: white;
  padding: 15px;
}
footer p{ margin: 0;
    font-size: 20px;
    
}
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    